* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, span, a {
    color: #ffffff;
}
/* 원래 middle 아니었나? */
img {
    vertical-align: middle;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
input {
    outline: none;
    border: none;
}
input:focus {
    outline: none;
}
/* default flex 클래스 */
.flex-start {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flex-end {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.flex-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}






/* 내부 header, 왼쪽 nav 등 fixed로 3차원일 예정이니
미리 초기화 */
#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1320px;
}

/* 상단 메뉴 */
/* 브라우저 크기 줄어들면 레이아웃 깨지는 문제 있길래
twitch에서 했던것처럼 따로 min-width값 추가해주었다. */
#youtube-top-nav {
    position: fixed;
    width: 100%;
    height: 56px;
    min-width: 1320px;
    background-color: #212121;

    padding: 0 16px;
}
#youtube-top-nav .nav-left {
    height: 56px;
}
#youtube-top-nav .nav-left .btn-menu {
    width: 24px;
    height: 24px;
    background: url(../../naver-ex/img/menu-white.png) no-repeat;
    background-size: 16px;
    background-position:center;
    margin-top: 4px;
}
#youtube-top-nav .nav-left h1 {
    width: 90px;
    height: 100%;
    margin-left: 16px;
    font-size: 15px;
}
#youtube-top-nav .nav-left h1 a {
    width: 100%;
    height: 100%;
}
#youtube-top-nav .nav-left h1 img {
    width: 20px;
    height: 15px;
    margin: auto 0;
}
#youtube-top-nav .nav-left h1 span {
    display: inline-block;
    margin-left: 5px;
    letter-spacing: -.5px;
    padding-bottom: 2px;
}




/* absolute 사용해서 중앙정렬 */
#youtube-top-nav .nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#youtube-top-nav .nav-center .search-wrap {
    width: 620px;
    height: 30px;
}
/* youtube 페이지의 hsl 색상 그대로 카피함 */
#youtube-top-nav .nav-center .search-wrap input {
    width: calc(100% - 65px);
    height: 30px;
    border: solid 1px  hsl(0deg 0% 21%);
    background-color: #212121;
    padding: 2px 6px;

    font-size: 14px;
    color: #ffffff;
}
#youtube-top-nav .nav-center .search-wrap .btn-search {
    width: 65px;
    height: 30px;
    border: solid 1px  hsl(0deg 0% 21%);
    background-color: hsl(0deg 0% 21%);
}
#youtube-top-nav .nav-center .btn-voice {
    width: 24px;
    height: 24px;
    background-color: #3ea6ff;
    margin-left: 16px;
}






#youtube-top-nav .nav-right .btn-menu {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}
#youtube-top-nav .nav-right .btn-menu.btn-menu-1 {
    background-color: chocolate;
}
#youtube-top-nav .nav-right .btn-menu.btn-menu-2 {
    background-color: crimson;
}
#youtube-top-nav .nav-right .btn-login {
    display: inline-block;
    border: solid 1px #3ea6ff;
    border-radius: 2px;
    padding: 10px 12px;

    font-size: 14px;
    color: #3ea6ff;
}





/* overflow: scroll 항상 스크롤 있음. auto는 필요할때만 scroll 생성됨
세로로 스크롤 생성, 가로로는 내용 넘어가면 사라지게 함
*/
#youtube-left-nav {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;

    width: 240px;
    background-color: #212121;

    top: 56px;
    left: 0;
    bottom: 0;
}

/* 왼쪽 사이드메뉴 */
/* content에 height: 100%했더니 브라우저 기준인지
스크롤 내리면 배경색 안 바꼈다. 이것도 나중에 bottom 등으로 
stretch해주는걸까? */
#youtube-left-content {
    position: absolute;
    width: 225px;
    height: 100%;
    /* background-color: cadetblue; */
}
/* p {
    font-size: 40px;
} */
#youtube-left-content .nav-section {
    padding: 8px 0;
    border-bottom: solid 1px rgba(255,255,255,.1);
}
#youtube-left-content .nav-section .nav-title-wrap {
    padding: 8px 24px;
}
#youtube-left-content .nav-section .nav-title-wrap h2 {
    color: #aaaaaa;
    font-size: 15px;
    font-weight: bold;
}





#youtube-left-content .nav-section .nav-body li a {
    width: 100%;
    height: 40px;
    padding: 0 24px;
}
#youtube-left-content .nav-section .nav-body li .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    margin-right: 24px;
}
#youtube-left-content .nav-section .nav-body li span {
    font-size: 13px;
}
#youtube-left-content .nav-section .nav-body .txt-wrap {
    padding: 16px 24px;
    font-size: 13px;
    font-weight: 400;
}
/* txt-wrap이 내부 요소 크기를 제대로 인식하지 못해서 레이아웃 겹치는 문제 발생
display: inline-block (block) 으로 크기 지정하기
*/
#youtube-left-content .nav-section .nav-body .txt-wrap .btn-login {
    display: inline-block;
    border: solid 1px #3ea6ff;
    border-radius: 2px;
    padding: 10px 12px;
    margin-top: 12px;

    font-size: 14px;
    color: #3ea6ff;
}




#youtube-left-content #youtube-footer {
    padding-bottom: 150px;
}
#youtube-left-content #youtube-footer .txt-wrap {
    padding: 12px 24px 0;
    font-size: 12px;
}
/* 단어들이 잘려져있음
단어 기준으로 줄바꿈하기 word-break
- keep-all 한 단어를 쪼개지 않는 방식으로 줄바꿈 */
#youtube-left-content #youtube-footer .txt-wrap a {
    margin-right: 8px;
    word-break: keep-all;
    color: #aaa;
    font-weight: 500;
}
#youtube-left-content #youtube-footer .txt-wrap p {
    color: #717171;
    font-weight: 400;
}








/* 유튜브 메인 */
/* 1320px 될때까지 이미지 크기 리사이즈되도록 구현 */
/* 왠지모르게 bottom:0 때문에 배경이 스크롤 안 내린 브라우저 끝까지만 적용됨 */
#youtube-main {
    position: absolute;
    background-color: #181818;
    
    top: 56px;
    left: 240px;
    right: 0;
    /* bottom: 0; */
}



/* 태그 목록 부분 추가함*/
#youtube-main .tag-wrap li {
    max-width: 170px;
    margin: 12px;
    margin-left: 0;
    padding: 3px 10px;
    border: solid 1px #4a4a4a;
    border-radius: 20px;
    background-color: #373737;
}
#youtube-main .tag-wrap li.on {
    background-color: #ffffff;
    color: #030303;
}
#youtube-main .tag-wrap li.on a {
    color: #030303;
}
/* 한 줄 말줄임 효과 적용 */
#youtube-main .tag-wrap a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    display: inline-block;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
}





/* youtube 배너 부분 추가함 */
#youtube-main .youtube-banner {
    position: relative;
    width: 100%;
    height: 290px;
    background-color: #ffffff;
    padding: 24px;
}
#youtube-main .youtube-banner .btn-close {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: black;
    top: 16px;
    right: 16px;
}
#youtube-main .youtube-banner .txt-wrap {
    width: 100%;
    height: 100%;
}
#youtube-main .youtube-banner .txt-wrap h2 {
    color: #000000;
    font-size: 20px;
    margin-bottom: 5px;
}
#youtube-main .youtube-banner .txt-wrap h2 .icon-youtube {
    display: inline-block;
    width: 30px;
    height: 24px;
    background: url(../img/youtube-logo-no-letter.png) no-repeat;
    background-size: 24px 18px;
    background-position: 0 7px;
}
#youtube-main .youtube-banner .txt-wrap p {
    color: #000000;
    font-size: 25px;
}
#youtube-main .youtube-banner .txt-wrap .btn-join {
    display: inline-block;
    border: solid 2px #065fd4;
    border-radius: 2px;
    padding: 10px 12px;
    margin-top: 130px;

    font-size: 14px;
    color: #065fd4;
}





#youtube-main-content {
    width: 100%;
    padding: 24px;
    padding-bottom: 100px;
    background-color: #181818;
}
/* title 있는 부분 만들어주기 위해 video-section으로 한번 더 감쌌다 */
#youtube-main-content .video-section {
    width: 100%;
    border-bottom: solid 4px rgba(255, 255, 255, 0.1);
    background-color: #181818;
    margin: 20px 0;
}
#youtube-main-content .video-section .video-section-title-wrap {
    margin: 0 0 20px 4px;
    font-size: 13px;
    font-weight: 400;
}
#youtube-main-content ul {
    width: 100%;
    align-items: flex-start;
}
/* 자연스러운 이미지 리사이즈를 위해 넓이값을 비율로 줌 */
#youtube-main-content li {
    width: 24%;
    margin-bottom: 40px;
}
#youtube-main-content li .video-thumbnail {
    width: 100%;
}
#youtube-main-content li .video-thumbnail a {
    position: relative;
    display: block;
    width: 100%;
}
/* 이미지의 높이, 넓이 중 하나에만 100%주면 나머지는 비율 유지되면서
크기가 변경됨 */
#youtube-main-content li .video-thumbnail a img {
    width: 100%;
}
#youtube-main-content li .video-thumbnail a .time {
    position: absolute;
    background-color: rgba(0,0,0,.8);
    padding: 3px 4px;

    font-size: 12px;

    bottom: 4px;
    right: 4px;
}




#youtube-main-content li .video-txt-wrap {
    align-items: flex-start;
    margin-top: 12px;
    padding-right: 24px;
}
#youtube-main-content li .video-txt-wrap .img-link {
    display: block;
    width: 36px;
    height: 36px;
    margin-right: 12px;
}
#youtube-main-content li .video-txt-wrap .img-link .profile {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#youtube-main-content li .video-txt-wrap .txt {
    width: calc(100% - 48px);
}
#youtube-main-content li .video-txt-wrap .txt h3 {
    font-size: 15px;
    margin-bottom: 3px;
}
/* 두 줄 말줄임 표시 적용 */
#youtube-main-content li .video-txt-wrap .txt h3 .title-link {
    display: -webkit-box;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;

    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#youtube-main-content li .video-txt-wrap .txt p .channel-link {
    font-size: 12px;
    color: #aaa;
}
#youtube-main-content li .video-txt-wrap .txt .txt-bottom {
    font-size: 12px;
}
#youtube-main-content li .video-txt-wrap .txt .txt-bottom .count {
    color: #aaa;
}
/* span 태그 사이 점 만들어줌 */
#youtube-main-content li .video-txt-wrap .txt .txt-bottom .count::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #aaa;
    border-radius: 50%;
    vertical-align: -1px;
    margin: 0 0 4px 5px;
}
#youtube-main-content li .video-txt-wrap .txt .txt-bottom .date {
    color: #aaa;
}






/* 유튜브 채널 페이지 */
#youtube-channel-content {
    padding-bottom: 100px;
    background-color: #0f0f0f;
}
/* 이미지를 size cover, position center로 가득차게 만들어줌 */
#youtube-channel-content #channel-banner {
    position: relative;
    width: 100%;
    height: 250px;
    background: url(../img/bg-1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
/* 배너 안 버튼 추가 */
#youtube-channel-content #channel-banner a {
    position: absolute;
    background-color: rgba(0,0,0,.5);
    padding: 10px 15px;

    font-size: 12px;
    font-weight: 700;

    bottom: 20px;
    right: 20px;
}




/* 유튜브 채널 container */
.channel-container {
    width: 1284px;
    margin: 0 auto;
}




#channel-header {
    padding: 16px 0 4px;
    background-color: rgba(24, 24, 24, 1);
}
#channel-header .channel-profile-wrap .channel-profile .channel-thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 50%;

    margin-right: 24px;
}
#channel-header .channel-profile-wrap .channel-profile .txt-wrap h2 {
    font-size: 25px;
    font-weight: 500;
}
#channel-header .channel-profile-wrap .channel-profile .txt-wrap p {
    color: #aaa;
    font-size: 14px;
    margin-top: 5px;
}
#channel-header .channel-profile-wrap .btn-subscribe {
    padding: 10px 25px;
    background-color: #c00;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
} 






#channel-nav li a {
    display: block;
    height: 47px;
    padding: 0 32px;
    border-bottom: solid 3px transparent;
    color: #aaa;

    line-height: 47px;
}
#channel-nav li a.active {
    border-bottom: solid 3px #ffffff;
    color: #ffffff;
}
#channel-nav li a:hover {
    color: #ffffff;
}
/* 검색부분 추가 */
#channel-nav .search-wrap {
    margin-left: 20px;
}
#channel-nav .search-wrap .icon-search {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../../naver-ex/img/search-white.png) no-repeat;
    background-size: 18px;
    background-position: center;
    margin-right: 5px;
}
#channel-nav .search-wrap input {
    background-color: transparent;
    padding: 5px 0;
    color: #ffffff;
    font-size: 15px;
}
#channel-nav .search-wrap input:focus {
    border-bottom: solid 1px #ffffff;
}




#channel-content {
    background-color: #0f0f0f;
}


#channel-recent {
    align-items: flex-start;
    border-bottom: solid 1px rgba(255,255,255,.1);
    padding: 24px 0;
}
#channel-recent .thumbnail-wrap {
    position: relative;
    width: 246px;
    height: 148px;
    margin-right: 16px;
}
#channel-recent .thumbnail-wrap img {
    width: 100%;
    height: 100%;
}
#channel-recent .thumbnail-wrap .mark {
    position: absolute;
    background-color: #c00;
    font-size: 12px;
    padding: 4px 8px 4px;
    border-radius: 3px;

    right: 4px;
    bottom: 4px;
}
#channel-recent .txt-wrap {
    width: 600px;
}
#channel-recent .txt-wrap h2 {
    font-size: 24px;
    font-weight: 400;
}
#channel-recent .txt-wrap span {
    font-size: 14px;
    color: #aaa;
}
#channel-recent .txt-wrap .channel::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #aaa;
    border-radius: 50%;
    vertical-align: -1px;
    margin: 0 0 4px 5px;
}
#channel-recent .txt-wrap .description {
    padding-top: 8px;
    font-size: 14px;
    color: #aaa;
    line-height: 1.45;
}




.channel-playlists-section {
    padding: 24px 0;
    border-bottom: solid 1px rgba(255,255,255,.1);
}
.channel-playlists-section .playlists-header .title-wrap a {
    width: auto;
}
.channel-playlists-section .playlists-header .title-wrap h3 { 
    margin-right: 20px;
    font-size: 18px;
}
.channel-playlists-section .playlists-header .title-wrap .icon-play {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../../naver-ex/img/play.png) no-repeat;
    background-size: 16px;
    background-position: center;
    margin-right: 5px;
}
.channel-playlists-section .playlists-header .title-wrap span {
    display: inline-block;
    font-size: 14px;
    color: #aaa;
}
.channel-playlists-section .playlists-header p {
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
}



.channel-playlists-section .playlists-body {
    margin-top: 24px;
}
/* 강의에 없는 자막 표시 달았더니 내부 콘텐츠 높이값 달라져서 flex로 인해 y축 중앙정렬됨
content들이 위에서부터 시작하도록 속성값 추가함
*/
.channel-playlists-section .playlists-body ul {
    align-items: flex-start;
}
.channel-playlists-section .playlists-body li {
    width: 210px;
}
.channel-playlists-section .playlists-body li .channel-thumbnail {
    width: 100%;
    height: 118px;
}
.channel-playlists-section .playlists-body li .channel-thumbnail a  {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.channel-playlists-section .playlists-body li .channel-thumbnail img {
    width: 100%;
    height: 100%;
}
.channel-playlists-section .playlists-body li .channel-thumbnail .time {
    position: absolute;
    font-size: 12px;
    background-color: rgba(0,0,0,.8);
    border-radius: 3px;
    padding: 3px 6px;
    bottom: 4px;
    right: 4px;
}




.channel-playlists-section .playlists-body li .channel-txt-wrap {
    margin-top: 8px;
}
.channel-playlists-section .playlists-body li .channel-txt-wrap h3 {
    font-size: 15px;
    margin-bottom: 6px;
}
.channel-playlists-section .playlists-body li .channel-txt-wrap p {
    font-size: 12px;
}
.channel-playlists-section .playlists-body li .channel-txt-wrap p .channel-link {
    color: #aaa;
} 



.channel-playlists-section .playlists-body li .channel-txt-wrap .txt-bottom {
    font-size: 12px;
}
.channel-playlists-section .playlists-body li .channel-txt-wrap .txt-bottom .count {
    color: #aaa;
}
.channel-playlists-section .playlists-body li .channel-txt-wrap .txt-bottom .count::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #aaa;
    border-radius: 50%;
    vertical-align: -1px;
    margin: 0 0 4px 5px;
}
.channel-playlists-section .playlists-body li .channel-txt-wrap .txt-bottom .date {
    color: #aaa;
}

.channel-playlists-section .playlists-body li .channel-txt-wrap .txt-bottom .sub {
    display: inline-block;
    padding: 3px 4px;
    border-radius: 2px;

    background-color: #181818;
    color: #aaa;
}







/* 탐색 페이지 */
.explore-container {
    width: 1280px;
    margin: 0 auto;
}




#explore-nav {
    padding: 12px 0 8px;
}
#explore-nav li {
    overflow: hidden;
    width: 210px;
    height: 116px;
}
#explore-nav li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;

    background-color: #212121;
    border-radius: 5px;
}
#explore-nav li a:hover {
    background-color: #000000;
}
#explore-nav li .icon {
    display: block;
    width: 32px;
    height: 32px;
    background-color: royalblue;
    margin-bottom: 25px;
}
#explore-nav li span {
    font-size: 16px;
}




#popular-section {
    margin-top: 24px;
}
#popular-section h2 {
    font-size: 20px;
}
#popular-section ul {
    margin-top: 24px;
}
#popular-section li {
    margin-bottom: 16px;
}
#popular-section li a {
    align-items: flex-start;
}
#popular-section li .img-wrap {
    position: relative;
    width: 246px;
    height: 148px;
    margin-right: 16px;
}
#popular-section li .img-wrap img {
    width: 100%;
    height: 100%;
}
#popular-section li .img-wrap .time {
    position: absolute;
    background-color: rgba(0,0,0,.5);
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;

    bottom: 4px;
    right: 4px;
}
#popular-section li .txt-wrap {
    width: 600px;
}
#popular-section li .txt-wrap h3 {
    font-size: 20px;
}
#popular-section li .txt-wrap span {
    color: #aaa;
    font-size: 14px;
}
#popular-section li .txt-wrap span::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #aaa;
    border-radius: 50%;
    vertical-align: -1px;
    margin: 0 0 4px 5px;
}
#popular-section li .txt-wrap .date::after {
    content: none;
}
#popular-section li .txt-wrap .description {
    padding-top: 8px;
    color: #aaa;
    font-size: 14px;
}
