/* 부모자식간 포지션 차이에 따른 상태변화 실험 */

html, body {
    margin: 0;
    padding: 0;
}

.position-parent {
    width: 300px;
    height: 400px;
    background-color: darkorange;
    border: solid 3px black;
}
.position-parent .position-child {
    width: 100px;
    height: 100px;
    background-color: deepskyblue;
    border: solid 3px black;

    margin-top: 100px;
    /* top: 100px; */
}
.position-static {
    position: static;
}
.position-fixed {
    position: fixed;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}