html, body {
    margin: 0;
    padding: 0;
}

.box-model {
    width: 200px;
    height: 200px;
    background-color: brown;
    border: solid 10px yellow;

    margin: 100px 0 0 100px;
    padding: 100px 0 0 100px;
    box-sizing: border-box;
    /* 
    시계방향으로 값 주기: top right bottom left (공백으로 분리)
    코드 줄이는 이유: 파일 용량 줄어서 웹사이트 로딩속도 빨라짐
    box-sizing: border-box ->제작한 공간 용량 안에서 border, padding 적용해줌
    margin-left: 100px;
    margin-top: 100px;
    padding-top: 100px;
    padding-left: 100px; */
}

.margin-one {
    width: 100%;
    height: 100px;
    background-color: yellow;
    margin-bottom: 100px;
}

.margin-two {
    width: 100%;
    height: 100px;
    background-color: blue;
    margin-top: 150px;
}

.margin-parent {
    width: 300px;
    height: 300px;
    background-color: blueviolet;
}
.margin-child {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: chartreuse;
    margin-top: 100px;
}


/* h1 {
    width: 100px;
    height: 100px;
    background-color: chartreuse;
    margin-top: 100px;
    display: inline-block;
}

span {
    width: 100px;
    height: 100px;
    background-color: chocolate;

    margin-top: 100px;
    display: block;
} */


.inline-block {
    display: inline-block;

    width: 100px;
    height: 100px;
    background-color: chocolate;
}

.inline-block, .inline, img {
    vertical-align: middle;
}

.static-parent {
    margin-top: 100px;
    width: 300px;
    height: 300px;
    background-color: coral;
    position: relative;
}
.static-child {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: crimson;

    /* margin-top: 100px; */
    top: 150px;
}

.box1 {
    width: 300px;
    height: 200px;
    background-color: crimson;
}
.fixed-parent {
    width: 300px;
    /* height: 300px; */
    background-color: cyan;
}
.fixed-child {
    /* margin-top: 100px; */
    /* top: 100px; */
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: darkcyan;
}
.box2 {
    width: 300px;
    height: 2000px;
    background-color: darkgoldenrod;
}

.box1 {
    width: 300px;
    height: 200px;
    background-color: crimson;
}
.relative-parent {
    width: 300px;
    /* height: 300px; */
    background-color: cyan;
}
.relative-child {
    position: relative;
    /* margin-top: 100px; */
    /* top: 100px; */
    width: 100px;
    height: 100px;
    background-color: darkcyan;
}

.box1 {
    width: 300px;
    height: 200px;
    background-color: crimson;
}
.absolute-parent {
    position: fixed;
    width: 300px;
    height: 300px;
    background-color: cyan;
}
.absolute-child {
    position: absolute;
    /* margin-top: 100px; */
    top: 100px;
    width: 100px;
    height: 100px;
    background-color: darkcyan;
}





.z-one {
    position: relative;
    /* z-index: 30; */
    width: 200px;
    height: 200px;
    background-color: yellow;
}
.z-two {
    position: relative;
    /* z-index: 20; */
    width: 200px;
    height: 300px;
    background-color: blue;
}



.left-1 {
    float: left;
    width: 100px;
    height: 100px;
    background-color: blue;
}
.right-1 {
    float: right;
    width: 100px;
    height: 100px;
    background-color: green;
}

/* header {
    width: 100%;
    height: 100px;
    background-color: yellow;
}
.left {
    float: left;
    width: 300px;
    height: 200px;
    background-color: pink;
}
.center {
    float: left;
    width: 500px;
    height: 200px;
    background-color: blue;
}
.right {
    position: absolute;
    float: right;
    width: 300px;
    height: 200px;
    background-color: green;
}
footer {
    clear: both;
    width: 100%;
    height: 100px;
    background-color: black;
}
section {
    width: 1400px;
    height: 200px;
    background-color: cadetblue;
} */




/* .left-2 {
    float: left;
    width: 100px;
    height: 150px;
    background-color: cadetblue;
}

.right-2 {
    float: right;
    width: 100px;
    height: 150px;
    background-color: chartreuse;
}

footer {
    width: 100%;
    height: 100px;
    background-color: chocolate;
}

.clearfix {
    clear: both;
}

section {
    overflow: hidden;
    width: 800px;
    background-color: orange;
}


.over-box {
    overflow: hidden;
    overflow-y: scroll ;
    overflow-x: scroll;
    
    width: 200px;
    height: 200px;
    background-color: yellow;
} */


.container {
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    width: 1000px;
    border: solid 10px red;
    height: 500px;
}
.item {
    width: 200px;
    height: 300px;
}
.one {
    background-color: yellow;
    height: 100px;
}
.two {
    background-color: blue;
    height: 200px;
}
.three {
    background-color: orange;
    height: 300px;
    /* width: 900px; */
}


.center-1 {
    width: 300px;
    height: 300px;
    background-color: yellow;
    margin: 0 auto;
}
.center-2 {
    position: relative;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 300px;
    background-color: blue;
    /* margin: 0 auto; */
}