/* css 주석 달기
h1 {
    font-size: 80px;
} */

/* header {
    color: red;
}

header h1,
footer h1 {
    color: blue;
}

header p,
footer p {
    color: yellowgreen;
} */

/* h1 {
    color: red;
} */

/* html id에 접근 */
/* #test1 {
    color: blue;
} */
/* html class에 접근 */
/* .test2 {
    color: pink;
} */

/* id 첫 글자 숫자 안 됨 */
/* #first {
    background-color: chocolate;
}

.new2 {
    background-color: cadetblue;
}

input[type="text"] {
    border: solid 10px red;
}

input[type="password"]{
    border: solid 10px brown;
} */

/* .bg-1 {
    background-color: red;
}

.font-size-1 {
    font-size: 50px;
}

#color-1 {
    color: salmon;
}

#font-style-1 {
    font-style: italic;
} */

/* #intro h2 {
    color: red;
}
#intro .container p {
    color: pink;
} */

/* #color-id {
    color: sienna;
}

.color-1 {
    color: seagreen;
}

h1 {
    color: plum;
}

h1 {
    color: royalblue;
} */

/* #intro .container h1 {
    color: hotpink;
}

#intro div h1 {
    color: green;
}

#intro h1 {
    color: blue;
}

header h1 {
    color:red;
} */

/* 
넓이 조정값: width, height
px = 고정값
% = 변동값. 해당 태그의 부모 태그 크기의 영향을 받음
변동값 적용 시 min, max값 같이 사용

color: color name, 헥사코드, rgb(r,g,b)
*/
/* div {
    width: 100%;
    height: 300px;
    min-width: 100px;
    max-width: 800px;
    opacity: 0.5;

    border: 10px solid green;
    border-radius: 30px;
    background-color: pink;
} */

/* 
font-family: 여러 폰트 중 앞에서부터 사용가능한 폰트 적용
sans-serif(모든 브라우저에서 사용가능. 항상 마지막 옵션으로 두기)
google font -> html <link>(css 시트 경로 위에), css font-family 가져와서 적용 가능
text-decoration: underline, line-through
text-align: 태그의 bg color 범위 안에서 정렬됨
*/
/* h1 {
    color: indigo;
    font-size: 120px;
    font-style: italic;
    font-family: 'Jomhuria', sans-serif;
    font-weight: 500;
    text-decoration: underline;
    text-align: center;
    background-color: hotpink;
} */

/* a {
    color: indigo;
    text-decoration: none;
} */

/* 리스트 
list-style: -, *등
*/
ul {
    list-style: none;
}

/* 
background-image: image보다 큰 공간이면 반복해서 채움
background-repeat: 이미지 반복 방식 제어
background-position: 이미지 위치 제어

html <img> vs css background image
- html: 이미지 전체가 설정한 공간에 맞게 조절됨. 정보 포함한 이미지(웹 접근성)
- css: 액자틀. 공간 크기에 맞게 이미지 잘려보임. 단순 장식
*/
/* #bg {
    width: 256px;
    height: 256px;
    background-color: yellowgreen;
    background-image: url(icon.png);
    background-repeat: no-repeat;
    background-position: left center;
} */


/* 가상선택자
1. 행동 관련 디자인 적용
a:link 방문한 적 없는 링크
a:active 클릭 유지 시
a:hover 마우스 올릴 때
input:focus 입력칸에 커서 둘 때
*/

/* 
2. 일정 규칙에 따라 디자인 적용
li:first-child
li:last-child
li:nth-child(n) ->2n, 2n+1로 짝수 홀수 응용 가능
*/

/* a:link { color: red; }

a:active { color:blue }

a:hover {color: pink;}

input:focus { border: solid 3px green;}

li:first-child {
    color: greenyellow;
}
li:last-child {
    color: indigo;
}
li:nth-child(2n) {
    color: lightcoral;
} */


/* before & after
html문서에는 없고 css로 삽입한 부분. 문자를 넣어도 html에서 문자로 인식 안되고
단순 디자인, 캘리그라피 취급
메뉴 앞 디자인 삽입 시 유용
?? 예시엔 content에 이미지 넣었나? 찾아보기
*/
/* li::before {
    content: "--";
}
li::after {
    content: url("icon.png");
} */